absl-py==2.1.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
asttokens==2.4.0  # 예시 버전
async-timeout==4.0.3
attrs==24.2.0
audeer==2.2.0
audformat==1.1.4
audinterface==1.2.1
audiofile==1.5.0
audmath==1.4.1
audobject==0.7.11
audresample==1.3.3
backcall==0.2.0
Brotli==1.0.9
certifi==2023.11.17
cffi==1.17.1
charset-normalizer==3.2.0
colorama==0.4.6
comm==0.2.2
contourpy==1.1.1
cycler==0.12.1
debugpy==1.6.7
decorator==5.1.1
dgl==0.9.1
executing==1.2.0
filelock==3.16.0
flatbuffers==24.3.25
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.9.0
huggingface-hub==0.24.7
idna==3.4
importlib_metadata==6.8.0
importlib_resources==6.4.5
ipykernel==6.25.2
ipython==8.12.3
iso-639==0.4.5
iso3166==2.1.1
jax==0.4.13
jedi==0.19.0
joblib==1.4.2
jupyter_client==8.2.0
jupyter_core==5.7.2
kiwisolver==1.4.7
lightning-utilities==0.11.7
matplotlib==3.7.5
matplotlib-inline==0.1.6
mediapipe==0.10.11
mkl-fft
mkl-random==1.2.2
mkl-service==2.4.0
ml-dtypes==0.2.0
multidict==6.1.0
nest_asyncio==1.5.7
networkx==3.1
numpy==1.24.4
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opensmile==2.5.0
opt-einsum==3.3.0
oyaml==1.0
packaging==23.2
pandas==2.0.3
parso==0.8.3
pickleshare==0.7.5
pillow==10.0.0
platformdirs==3.10.0
pooch==1.8.0
prompt_toolkit==3.0.39
protobuf==3.20.3
psutil==5.9.5
pure_eval==0.2.2
pycparser==2.22
pydub==0.25.1
Pygments==2.15.1
pyparsing==3.1.4
PySocks==1.7.1
python-dateutil==2.8.2
pytorch-lightning==2.1.0
pytz==2024.2
PyYAML==6.0.2
pyzmq==25.0.2
regex==2024.9.11
requests==2.31.0
safetensors==0.4.5
scikit-learn==1.3.2
scipy==1.10.1
six==1.16.0
sounddevice==0.5.0
soundfile==0.12.1
stack-data==0.6.2
threadpoolctl==3.5.0
tokenizers==0.19.1
torch==1.12.1
torchaudio==0.12.1
torchmetrics==1.4.2
torchvision==0.13.1
tornado==6.2
tqdm==4.66.5
traitlets==5.9.0
transformers==4.44.2
typing_extensions==4.9.0
tzdata==2024.1
urllib3==2.0.7
wcwidth==0.2.5
win-inet-pton==1.1.0
yarl==1.11.1
zipp==3.17.0
